<!doctype html>
<html lang="en" ng-app="ReKodi">
  <head>
    <title>
      ReKodi
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1" />
    
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="../bower_components/mdi/css/materialdesignicons.css" />
    <link rel="stylesheet" href="../bower_components/mdi/css/materialdesignicons.min.css" />
    <!-- endbower -->
    
    <!-- app:css -->
    <link rel="stylesheet" href="./styles/css/style.css" />
    <!-- end:css -->
    
    <!-- bower:js -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../bower_components/angular-material/angular-material.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbower -->
    
    <!-- app:ReKodi -->
    <script src="./scripts/app/app.js"></script>
    <script src="./scripts/app/config.js"></script>
    <script src="./scripts/app/default-values.js"></script>
    <!-- end:ReKodi -->
    
    <!-- app:Controllers -->
    <script src="./scripts/app/controllers/app.js"></script>
    <script src="./scripts/app/controllers/main-menu.js"></script>
    <script src="./scripts/app/controllers/recently-added.js"></script>
    <script src="./scripts/app/controllers/music.js"></script>
    <script src="./scripts/app/controllers/movies.js"></script>
    <script src="./scripts/app/controllers/tv-shows.js"></script>
    <script src="./scripts/app/controllers/videos.js"></script>
    <script src="./scripts/app/controllers/playlist.js"></script>
    <script src="./scripts/app/controllers/settings.js"></script>
    <script src="./scripts/app/controllers/help.js"></script>
    <script src="./scripts/app/controllers/about.js"></script>
    <!-- end:Controllers -->
    
    <!-- app:Directives -->
    <script src="./scripts/app/directives/update-title.js"></script>
    <!-- end:Directives -->
    
    <!-- app:Services -->
    <script src="./scripts/app/services/config.js"></script>
    <script src="./scripts/app/services/settings.js"></script>
    <script src="./scripts/app/services/kodi-api.js"></script>
    <!-- end:Services -->
  </head>
  <body layout="column" ng-controller="AppCtrl">
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <h1 rk-update-title></h1>
        <span flex=""></span>
        <md-button class="md-icon-button" aria-label="Options">
          <i class="mdi mdi-dots-vertical"></i>
        </md-button>
        <md-button class="md-icon-button" aria-label="Maximize" ng-click="window.maximize()">
          <md-tooltip md-direction="bottom">
            Maximize
          </md-tooltip>
          <i class="mdi mdi-window-maximize"></i>
        </md-button>
        <md-button class="md-icon-button" aria-label="Minimize" ng-click="window.minimize()">
          <md-tooltip md-direction="bottom">
            Minimize
          </md-tooltip>
          <i class="mdi mdi-window-minimize"></i>
        </md-button>
        <md-button class="md-icon-button" aria-label="Close" ng-click="window.close()">
          <md-tooltip md-direction="bottom">
            Close
          </md-tooltip>
          <i class="mdi mdi-window-close"></i>
        </md-button>
      </div>
    </md-toolbar>
    <div layout="row" flex>
      <div layout="column" id="mainMenu">
        <md-list ng-controller="MainMenuCtrl">
          <md-item ng-repeat="item in menuItems track by $index" ng-if="item.name !== ''">
            <md-item-content>
              <md-button ng-click="openPage(item.name)" aria-label="{{item.data.pageTitle}}" class="md-icon-button" ng-class="{active: routerState.includes(item.name)}">
                <md-tooltip md-direction="right">
                  {{item.data.pageTitle}}
                </md-tooltip>
                <i class="mdi" ng-class="item.data.menuIcon"></i>
              </md-button>
            </md-item-content>
          </md-item>
        </md-list>
      </div>
      <md-content layout="column" flex ui-view></md-content>
    </div>
  </body>
</html>
