#mainMenu {
  width: 50px;
  background: #F6F6F6;
  
  .md-button {
    min-width: 0;
    margin: 0;
    
    &.active {
      .mdi {
        color: #FE4881;
      }
    }

    .mdi {
      color: #666;
      font-size: 26px;
      line-height: 48px;
    }
  }
}
